/* @import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap'); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

section {
    padding: 160px;
}

.banner {
    position: relative;
    min-height: 100vh;
    background-image: url(images/banner.png);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span {
    font-size: 1.5em;
    font-weight: 700;
}

.banner h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

.btn {
    position: relative;
    /* background: #2196f3; */
    background: green;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 200px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    padding: 20px 200px;
}

header .logo {
    color: #fff;
    font-size: 42px;
    /* text-transform: uppercase; */
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
}

header.sticky .logo {
    color: #111;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

header.sticky ul li a {
    color: #111;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading h2 {
    font-weight: 600;
    font-size: 30px;
}

.content {
    display: flex;
    justify-content: center;
}

/* .contentBx p {
    padding: 50px
} */

.contentBx h4 {
    display: flex;
    justify-content: center;
}

/* .contentBx {
    padding-right: 30px;
} */

.contentBx h3 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.descp {
    font-weight: 100;
    margin-top: 10px;
}

.w50 p {
    text-align: center;
}

/* .tech_stack {
    margin-top: -25px;
} */

/* .w50 {
    min-width: 50%; */

/* } */

img {
    max-width: 100%;
}

#services {
    background: #111;
}

.heading.white {
    color: #fff;
}

#services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#services .content .serviceBx {
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

#services .content .serviceBx:hover {
    /* background: #2196f3; */
    background: green;
}

#services .content .serviceBx img {
    max-height: 100px;
    max-width: 280px;
}

/* filter: invert(1); */

#serviceBx img {
    /* width: 250px; */
    height: 100px;
}

.services .content .serviceBx h2 {
    font-size: 20px;
    font-weight: 600;
}

#email {
    margin-top: 50px;
    font-style: bold;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.wrapper ul li {
    list-style: none;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #D8E2DC;
    float: left;
    transition: all 0.5s ease;
}

.wrapper ul li .fa {
    color: #D8E2DC;
    /* margin-top: 12px; */
    transition: all 0.5s ease;
}

.wrapper ul li:hover.facebook {
    /* border: 2px solid #3b5998;
    box-shadow: 0 0 15px #3b5998; */
    border: 2px solid green;
    box-shadow: 0 0 15px green;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
    color: green;
    text-shadow: 0 0 15px green;
    /* color: #3b5998;
    text-shadow: 0 0 15px #3b5998; */
    transition: all 0.5s ease;
}

.wrapper ul li .fa-facebook {
    color: #3b5998;
}

.wrapper ul li .fa-instagram {
    color: #bc2a8d;
}

.wrapper ul li .fa-github {
    color: #000;
}

.wrapper ul li .fa-linkedin {
    color: #0e76a8;
}

.wrapper ul li:hover.instagram {
    /* border: 2px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d; */
    border: 2px solid green;
    box-shadow: 0 0 15px green;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
    /* color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d; */
    color: green;
    text-shadow: 0 0 15px green;
    transition: all 0.5s ease;
}

.wrapper ul li:hover.github {
    /* border: 2px solid #000;
    box-shadow: 0 0 15px #000; */
    border: 2px solid green;
    box-shadow: 0 0 15px green;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-github {
    /* color: #000;
    text-shadow: 0 0 15px #000; */
    color: green;
    text-shadow: 0 0 15px green;
    transition: all 0.5s ease;
}

.wrapper ul li:hover.linkedin {
    /* border: 2px solid #0e76a8;
    box-shadow: 0 0 15px #0e76a8; */
    border: 2px solid green;
    box-shadow: 0 0 15px green;
    transition: all 0.5s ease;
}

.wrapper ul li:hover.linkedin {
    /* border: 2px solid #0e76a8;
    box-shadow: 0 0 15px #0e76a8; */
    border: 2px solid green;
    box-shadow: 0 0 15px green;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-linkedin {
    /* color: #0e76a8;
    text-shadow: 0 0 15px #0e76a8; */
    color: green;
    text-shadow: 0 0 15px green;
    transition: all 0.5s ease;
}

.bottom_logo {
    /* background-color: #0e76a8; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

.bottom_logo img {
    width: 100px;
}

.bottom_logo p {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 8px;
}

.copyright {
    margin-top: 40px;
    margin-bottom: -80px;
    font-weight: 800;
    font-size: 12px;
}

/*Responsive*/

@media (max-width: 991px) {
    header, header.sticky {
        padding: 20px 50px;
        z-index: 1000;
    }
    .menu {
        position: fixed;
        top: 89px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    .menu.active {
        left: 0;
    }
    header ul li a {
        color: #111;
        margin: 10px;
        font-size: 24px;
    }
    .toggle {
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active {
        background: url(images/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    header.sticky .toggle {
        filter: invert(1);
    }
    section {
        padding: 100px 50px;
    }
    .banner {
        padding: 150px, 50px, 100px;
    }
    .banner h2 {
        /* font-size: 1.5em; */
        font-size: 60px;
    }
    .banner h3 {
        font-size: 2em;
        /* font-size: 20px; */
    }
    .btn {
        margin-top: 50px;
        padding: 10px 20px;
        font-size: 16px;
    }
    /* .heading h2 {
        font-weight: 600;
        font-size: 24px;
    } */
}

@media (max-width: 600px) {
    header, header.sticky {
        padding: 20px 20px;
    }
    .banner {
        padding: 150px 20px 100px;
    }
    .banner h2 {
        font-size: 3em;
        /* font-size: 24px; */
    }
    .banner h3 {
        font-size: 1em;
        /* font-size: 20px; */
    }
}

@media (max-width: 425px) {
    header, header.sticky {
        padding: 20px 30px;
    }
    body {
        display: inline-block !important;
    }
    .banner {
        padding: 35px;
        position: relative;
        min-height: 100vh;
        min-width: 70vh;
        background-image: url(images/banner.png);
        background-size: cover;
        background-position: right;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .textBx h2 {
        font-size: 1.3em !important;
        font-weight: 200;
    }
    .laxminarayan {
        font-size: 1.2em !important;
    }
    .textBx h3 {
        font-size: 12px !important;
    }
    .btn {
        margin-top: 50px;
        padding: 10px 20px;
        font-size: 12px;
    }
    .w50 h4 {
        text-align: center;
    }
}